# Supabase Configuration
SUPABASE_URL=https://udhrvyndhdffivyxnzdf.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkaHJ2eW5kaGRmZml2eXhuemRmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4ODI3OTQ0NSwiZXhwIjoyMTAzODU1NDQ1fQ.bjp_it8SUhxt-tchU5Z_7Y6E7DCNMnrF2dR_IKjjz_s
